body {
  background: url('./assets/Wood-Textures-Free.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#top {
  font-size: 100px;
  padding: 10px;
  padding-top: 40px;
  padding-bottom: 30px;
  margin: auto;
  text-align: center;
  backdrop-filter: blur(10px);
  border-radius: 2rem;
  width: 90%;
  box-shadow: 0px 0px 50px;
  margin-top: 20vh;
  position: fixed;
  margin-left: calc((100vw - 90%)/2);
  z-index: -100;
}

#content {
  background-color: #252525;
  z-index: 100;
  position: absolute;
  top: calc(100vh - 10px);
  left: 0;
  right: 0;
  color: white;
  border-top: 10px solid #4f2302;
}

pre {
  color: black;
  border-radius: 10px;
  font-size: 20px;
  float: right;
  background-color: rgb(57, 55, 55);
  padding: 10px;
  text-align: left;
  margin-right: 20px;
  margin-top: 20px;
  transition-duration: 0.3s;
  height: fit-content;
  z-index: 100;
  width: 350px
}

#top-hi {
  width: 100%;
  height: 400px;
  z-index: -101 !important;
  font-size: 100px;
  text-align: center;
  margin: auto;
  background-color: #444444;
	transform: skewY(11deg);
}

.shad {
  box-shadow: -5px 8px 10px;
  transition-duration: 0.6s;
}

p {
  opacity: 100%;
  transition-duration: 0.6s;
}

.v {
  opacity: 0% !important;
  transition-duration: 0.6s;
}

#cont-i-th {
  max-width: 50em;
	margin: 0 auto;
	transform: skewY(-11deg);
}

#code {
  position: absolute;
  right: 10px;
  top: -90px;
  margin-top: 200px;
}

#Showcase {
}

.card {
  margin-left: -120px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color:#444444;
  height: 20vw;
  width: 25vw;
  min-width: 150px;
  min-height: 200px;
  border-radius: 10px;
  transform: skewX(-20deg);
  transform: skewY(20deg);
  box-shadow: 10px 10px 10px black;
}

.card:nth-child(1) {
  z-index: 100;
}

.card:nth-child(2){
  z-index: 99;
}

.card:nth-child(3){
  z-index: 98;
}

.card:nth-child(4){
  z-index: 97;
}

.c {
  margin: auto;
}

#cards {
  display: flex;
  justify-content: space-evenly;
  width: 30vw;
  margin-left: 140px;
}