@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html {
  scroll-behavior: smooth;
}

.main {
  margin: 5em;
}

#top {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url("./assets/Wood-Textures-Free.jpg");
    font-size: 40px;
}

body {
    background-color:rgb(38, 38, 38);
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    scroll-behavior: smooth;
    margin: auto;
}

a {
    color: white;
}

.nav {
    background-color: #111;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: #111;
    margin: auto;
    text-align: center;
}

.nav a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 2vw;
    padding-left: 2vw;
    background-color: #111;
    transition-duration: 0.3s;
    color: #333;
    font-size: 25px;
}

p, h1 {
    padding-left: 10px;
}

.nav a:hover {
    color: white;
}

.header-1 {
    text-decoration: underline;
    transition-duration: 0.3s;
}

.header-1:hover {
    text-decoration: none;
    transition-duration: 0.3s;
}
  
  span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }
  
  span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(6) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(7) {
    animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(8) {
    animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(9) {
    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(10) {
    animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(11) {
    animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

  .icon {
    height: 40px;
    width: 40px;
    padding-left: 30px;
    vertical-align: middle;
  }


#arduino-prjcts {
  background-color: #313131;
  padding: 15px;
  width: 130px;
  border-radius: 10px;
  transition-duration: 0.3s;
  margin-right: 10px;
  height: 170px;
  text-align: center;
}

#arduino-prjcts:hover {
  background-color: #353535;
  transition-duration: 0.3s;
}

.ard {
  width: 110px;
}

#num-ai {
  background-color: #313131;
  padding: 15px;
  width: 130px;
  border-radius: 10px;
  transition-duration: 0.3s;
  height: 170px;
  margin-right: 10px;
  text-align: center;
}

#num-ai:hover {
  background-color: #353535;
  transition-duration: 0.3s;
}

.numai {
  padding-left: 10px;
  width: 110px;
}

#display {
  display: flex;
}

#s-c {
  background-color: #313131;
  padding: 15px;
  width: 130px;
  border-radius: 10px;
  transition-duration: 0.3s;
  height: 170px;
  text-align: center;
}

#s-c:hover {
  background-color: #353535;
  transition-duration: 0.3s;
}

.cookie {
  font-size: 100px;
  margin-left: 5px;
}